In [2]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df= pd.read_csv("titanic_train.csv", usecols=['Age', 'Fare', 'Survived', 'Pclass'])

In [4]:
df.head(8)

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500
5         0       3   NaN   8.4583
6         0       1  54.0  51.8625
7         0       3   2.0  21.0750

In [5]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [6]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [7]:
X=df.drop(columns=['Survived'])
y=df['Survived']
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2, random_state=2)

In [8]:
X_train.sample(8)

     Pclass   Age     Fare
58        2   5.0  27.7500
288       2  42.0  13.0000
526       2  50.0  10.5000
11        1  58.0  26.5500
860       3  41.0  14.1083
108       3  38.0   7.8958
410       3   NaN   7.8958
570       2  62.0  10.5000

In [27]:
#k-nearest-neighbours
knn = KNNImputer(n_neighbors=3,weights='distance') # the parameters number of neighours should be checked for best accuracy.
                                                # for weights we have distance and uniform, uniform simply calculate equal distances while distance calculate reciproprocal of it.
X_train_trf=knn.fit_transform(X_train) #transform x_train and x_test using knn and store in new variable
X_test_trf=knn.transform(X_test)

In [28]:
lr = LogisticRegression()
lr.fit(X_train_trf, y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.7150837988826816

In [29]:
#compare accuracy with mean imputer
si = SimpleImputer()
X_train_trf2= si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [30]:
lr = LogisticRegression()
lr.fit(X_train_trf2,y_train)
y_pred2=lr.predict(X_test_trf2)
accuracy_score(y_test,y_pred2)

0.6927374301675978

In [32]:
# knn works better than mean imputation,choosing 3 nearest neighbors gave best results in KNN.